/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Lexi Battaglini and this is the beginning of my CONTACT PAGE CSS for 318 Digital Typography November 2019 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/marble_bg.jpg)
		center center fixed no-repeat;
	background-size: cover;
	font-family: "helvetica", sans-serif;
	
	
}

.center {
    width: 80%; /*added tihs to make div responsive*/
	padding: 2%;
    margin: 100px auto;
	border-radius: 30px 150px; /*this is new...may wanna take out */
 	background: rgba(24, 136, 61, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px white; /* in this line I took out the "dashed" omcponent*/
}
   
#logo {
    margin-bottom: 50px;
	margin-top: 50px;         /* new*/
	text-align: center;
}

p {
	font-size: 1.2em;
    line-height: 1.6;
	letter-spacing: 5px;
    color: rgb(0, 0, 0);

	/*THIS IS NEW ATTEMPT AT ANIMATION!!!!!!!!!!!1 */
	animation: fadeIn ease 16s;
	-webkit-animation: fadeIn ease 10s;
	-moz-animation: fadeIn ease 10s;
	-o-animation: fadeIn ease 10s;
	-ms-animation:fadeIn ease 10s;
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
	}
/* END OF NEW ATTEMPT AT ANIMATION*/


nav{
	font-family: garamond;
	font-size: 1.2em;
	width: 80%;
	margin: 0 auto;
	border: dashed turquoise;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
}



nav li{
	display:inline;
	}

nav a{
	display:inline-block;
	padding:10px;
	}

a{
	color:#444;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color:black;
	background:pink;
}





