/*CSS document*/
/*HOME*/
body {
background-color: rgb(42, 45, 48);
max-width: 80em;
margin:auto;
font-family: solitaire-mvb-pro, sans-serif;
font-weight: 300;
font-style: normal;
}
div.container {
max-width: 80em;
margin: 0 auto;
background-color: rgb(42, 45, 48);
padding: 3em;
}
section{
max-width: 40em;
margin: 0 auto 3em;
background-color:  rgb(234, 238, 243);
padding:2em;
}
p{
color: #181817;
}
figure {
margin: 0;
font-family: solitaire-mvb-pro-light, sans-serif;
font-weight: 400;
font-style: italic;
color:#c57641;
padding:1em;
}
img {
width: 100%;
}
article{
max-width: 80em;
background-color:rgb(234, 238, 243);
padding:1em 3em ;
}
ul {
list-style-type: none;
padding: 0;
}
ul li{
display:inline;
margin-right:1em;
}
a{
text-decoration: none;
color: #EC9F05;
}
h1 {
width: 5em;
}
h2{
font-family: forma-djr-display, sans-serif;
font-weight: 800;
font-style: italic;
color: #d66010;
}
h3{
font-family: forma-djr-display, sans-serif;
font-weight: 800;
font-style: italic;
text-decoration: none;
color: #d66010;
font-size: 1.25em;
padding-right:7em;
}
a{
text-decoration: none;
}
nav ul li {
display: inline;
padding-right:1em;
font-size: large;
font-family: forma-djr-display, sans-serif;
font-weight: 800;
font-style: italic;
padding-right: 0em;
}
nav ul li a:hover {
color: #d66010;  
}
footer{
padding: 1em 2.5em 2em 1em;
margin-right:2em;
margin-left:2.5em;
background-color: rgb(234, 238, 243);
}
/* media Query */
@media screen and (min-width: 60em){
div.container {
display: grid;
grid-template-columns: 3f 1fr;
grid-gap: 0 2.5em;
}
header {
grid-column: 1/3;
}
main{
grid-column: 1/2;
display: grid;
grid-template-columns: repeat (3,1fr);
grid-gap: 0 1em;
}
section.mainstory {
grid-column: 1/3;
grid-row:1/2;
display:flex;
flex-direction: column;
}
section.mainstory figure {
flex: 1 0 18em;
display: flex;
flex-direction:column;
}
section.mainstory figure div {
flex: 1 0 18em;
background-image: url(vegas.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
}
section.mainstory figure div img{
height:100%;
opacity:0;
}
section.mainstory h2 {
flex: 0 0 auto;
margin: 0;
padding-top: 2em;
}
section.mainstory p {
flex: 0 0 auto;
margin: 0;
padding-top:.25em;
}
div.form {
margin: auto;
}
/*NEWSLETTER / FORM */
div.form {
max-width:40em;
margin: 1em;
padding: 1em;
}
section.personal-info ul li {
display: flex;
flex-wrap: wrap;
margin-bottom: 1em;
}
section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
flex: 4 0 32em;
box-sizing: border-box;
}
section.personal-info ul li label {
flex: 1 0 8em;
}
section.order ul, section.timing ul {
display: flex;
flex-wrap: wrap;
}
section.order ul li , section.timing ul li {
flex: 1 0 15em;
}
h3 {
margin: 2em 0 0;
}
ul {
padding: 0;
list-style-type: none;
}
section {
background: #eee;
padding: 1em;
margin-bottom: 1em;
}
section p {
margin-top: 0;
}
textarea {
box-sizing: border-box;
display: block;
width: 100%;
height: 6em;
background: #fcfcfc;
border: 1px solid #e8e8e8;
padding: 0.4em;
font-family: sans-serif;
color: #777;
}
/*PHOTOGALLERY*/
main.gallery{
grid-column: 1/3;
}
label {
flex: 1 0 8em;
}
nav.gallery{
grid-column: 1/3;
}
aside{
grid-column: 2/3;
}
figure {
margin: 0;
}
main.gallery {
position: relative;
overflow: hidden;
padding-bottom: calc(66% + 5em);
}
.gallery figure{
margin-top: 10em;
margin: 0;
width: 100%;
position: absolute;
left: 100%;
opacity: 0;
transition: left 1s, opacity 1s;
font-family: solitaire-mvb-pro-light, sans-serif;
font-weight: 400;
font-style: italic;
color: #c57641;
}
nav.gallery{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 0.2em;
}
input[type="radio"] {
display: none;
}
img {
width: 100%;
}
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
left: 0;
opacity: 1;
}
.photogallery img{
width:100%;
}
.photogallery main{
position: relative;
min-height:25em;
overflow: hidden;
}
.photogallery figure {
margin: 0;
width: 100%;
position: absolute;
opacity: 0;
transition: left 1s;
}
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
opacity: 1;
}
nav{
display:flex;
flex-wrap:wrap;
}
label {
flex: 1 0 10em;
}
